<app-nav-menu></app-nav-menu>
<div>
  <table>
    <tr>
      <td> Colour </td>
      <td>       </td>
      <td> Value </td>
    </tr>
    <tr *ngFor="let colour of colourlist">
      <td> {{colour.colour}} </td>
      <td><span> - </span></td>
      <td> {{colour.hexvalue}} </td>
    </tr>
  </table>
  <br>
  <br>
  <img src="../../assets/blue.png" alt="NOOOOOOOOOO.png" height="100" /> <!--Images for components only seem to display if they are stored in the assests file, likely do to some load order function-->

</div>
